extends layout

block main

  form.form-horizontal#group_signup
    .form-group
      label.col-md-2.control-label Group
      .col-md-6
        input.form-control(type='text', name="group", placeholder='e.x. The Rabid Ocelots', value="#{name}")
      .col-md-3
        input.form-control(type='text', name="group", value="#{id}", readonly)
        
    
    .form-group
      .col-md-offset-2.col-md-10
        button.btn.btn-default(type='submit') Save Group
