extends layout

block main
  .center
    h3 Welcome to {CLASS NAME} {SEMESTER} {YEAR}.
    h4 This semester we'll be using GitHub for team collaboration and project submission. 
    p With this tool, you can create or join a team and we'll be able to automatically create repositories for your group!
    p After you've made a team you can share the unique key we give you with the other members of your group so they can join.
        
    .middle
      a.btn.btn-success.btn-lg.btn-block(href="/login") Ok I Read All That, Login with GitHub!
    
