extends layout

block main
  .center
    h4 Welcome to EECS 485 Fall 2013.
    p This semester we'll be using GitHub to collaborate on all of the projects. In order for this to go smoothly we need to map your GitHub username to your UMich uniqname. Once we do that we can have you create or join a team and we'll be able to automatically create repositories for your group!
    p After you've made a team you can share the unique key we give you with the other members of your group so they can join. Remember: no more than three people per team.
    
    p: b Once you signup for, or create a team we record it - you'll have to speak with a member of the course staff to change teams after this.
    
    .middle
      a.btn.btn-success.btn-lg.btn-block(href="/login") Ok I Read All That, Login with GitHub!
    
