doctype 5
html
  head
    title= name
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/style.css')

  body
      .container
        h1.middle EECS 485
        .center
          hr
          block main

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
  //-script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
  //-script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
  script(src="/static/js/main.js")