doctype 5
html
  head
    title {CLASS NAME}
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/style.css')

  body
      .container
        h1.middle {CLASS NAME}
        .center
          hr
          block main

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
  script(src="/static/js/main.js")